<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewSystemProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B6A2CDE1F32138D00375FFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6A2CF71F32138E00375FFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6A2D021F32138E00375FFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
